body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

#top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(20, 118, 204);
}

#logo {
    height: 50px;
}

#whatsapp-link img {
    height: 30px;
    margin-right: 30px;
}

#main-content {
    background-color: black;
    color: white;
    padding: 20px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#info h2 {
    font-size: 35px;
}

#info p {
    margin-top: 0;
    font-size: 30px;
}

#contact-info {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

#contact-info p {
    margin: 5px 0;
}

#contact-info a {
    text-decoration: none;
    color: white;
}

.contact-box {
    background-color: rgba(20, 118, 204, 0.5); /* Translucent blue color */
    border: none;
    padding: 10px;
    margin: 20px auto; /* Center the box */
    border-radius: 5px; /* Optional: for rounded corners */
    width: fit-content; /* Width adjusts based on content */
    color: white; /* Ensure text color is white */
}

.contact-link {
    color: white; /* Change link color to white */
    text-decoration: none; /* Remove underline */
    padding: 2px 5px; /* Optional: padding to give the link a button-like appearance */
    border-radius: 3px; /* Optional: rounded corners for the link */
}

.contact-link:hover {
    text-decoration: underline; /* Optional: underline on hover to indicate it's a link */
}
