body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

#top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

#logo {
    height: 50px;
}

#whatsapp-link img {
    height: 30px;
}

#main-content {
    background-color: black;
    color: white;
    padding: 20px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#info h2{
    font-size: 35px;
}

#info p{
    margin-top: 0;
    font-size: 30px;
}

#contact-info {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

#contact-info p {
    margin: 5px 0;
    text-decoration: #f8f9fa;
}

#contact-info a{
    text-decoration: #ffff;
    margin-bottom: 20px;
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0px; 
    justify-items: center;
    margin: 40px 20px 20px; 
    margin-bottom: 120px;
}

#button-grid button {
    padding: 15px 35px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    height: 50px;
    border-radius: 12px; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: 500;
}


#button-grid button:hover {
    background-color: #050505;
    color: white;
}

