body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

#top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

#top-section p{
    font-size: 20px;
}

#top-section h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(20, 118, 204);
}

.contact-link {
    color: inherit;  /* This will make the color of the link inherit from its parent element */
    text-decoration: none;  /* This will remove the underline from the link */
    cursor: default;  /* This will change the cursor to the default arrow instead of the hand icon */
}

#whatsapp-link img {
    height: 40px;
    margin-right: 30px;
}

#main-content {
    background-color: black;
    color: white;
    padding: 20px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#info h2 {
    font-size: 30px;
}

#info h3{
    font-size: 26px;
    margin-top: 1px;
    margin-bottom: 20px;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

#buttons-container button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#buttons-container button:hover {
    background-color: rgb(234, 13, 13);
    color: white;
}